<div class="row">
<div class="col-3 col-sm-2
             bg-dark Max-width 100% d-inline-block Max-height 100%">
<div>
  <ul class=" nav flex-column nav-pills list-group bg-dark">
    <li class="list-group-item bg-dark" *ngFor="let m of modules; let i = index" (click)="setClickedRow(m)"
        [class.active]="m.id === selectedRow">
      <button class="btn bg-dark nav-link text-white "
              type="button" routerLink="/course/{{courseId}}/module/{{m.id}}/lesson">
        {{m.title}}
      </button>
    </li>
  </ul>
</div>
</div>
<div class="col-9 col-sm-10">
<app-lesson-tabs-component></app-lesson-tabs-component>
</div>
</div>
